@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS - required for map tiles */
@import "leaflet/dist/leaflet.css";

:root {
  --foreground-rgb: 15 23 42;
  --background-rgb: 248 250 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Fix Leaflet default icon path in Next.js */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}
